[Unit]
Description=Start all never-started Docker containers
After=docker.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/local/bin/docker-compose -f /etc/pnk/docker-compose.yml up -d"

[Install]
RequiredBy=multi-user.target
