[Unit]
Description=Start all never-started Docker containers
After=docker.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "docker-compose -f /etc/pnk-builder/docker-compose.yml up -d"

[Install]
RequiredBy=multi-user.target
